{% extends "base/base.html" %}

{% block start %}

<div class="container mt-5 pt-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-3">
            <a href="{% url 'get_product' product.slug %}" class="title">
            <figure class="card card-product-grid">
                <div class="d-flex overflow-auto mb-md-0 mr-md-3" >
                    {% for image in product.product_image.all %}
                    <img src="{{ image.image.url }}" height="200px" width="265px"  alt="no image" >
                {% endfor %}
                </div>
                <figcaption class="info-wrap border-top">
                        <b>{{ product.product_name }}</b></a>
                    <div class="price mt-2">₹{{ product.price }}.00</div> <!-- price-wrap.// -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col.// -->
        {% endfor %}
    </div>
</div>
{% for p in products.product_cart.all %}
<h1>{{P}}</h1>
{% endfor %} 

{% endblock %}
